body {
    background-color: rgba(218, 214, 214, 1);
    font-family: 'Inria Sans', sans-serif;
    color: #ffffff;
    line-height: 20px;
}

.main {
    padding-top: 242px;
    padding-bottom: 242px;
}
.main.centered{
    background-image: url("image/bg-img.png");
    overflow: visible;
    height: auto;
    padding-top: 195px;
    padding-bottom: 195px;
    border-bottom: 4px solid #69b9ff;
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, auto;
    text-align: center;
}
.main-img {
    max-width: 20%;
    height: auto;
    margin-bottom: -50px;
    margin-top: -150px;
}
.main-heading {
    margin-bottom: 40px;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}
.main-subheading {
    margin-bottom: 40px;
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}
@media screen and (max-width: 991px)
.hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.main-img {
    width: 50%;
    padding: 15px;
}

.contact-form {
  flex-direction: column;
  text-align: center;
  font-family: "Inria Sans";
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.contact-form {
  flex-direction: column;
  text-align: center;
  font-family: "Inria Sans";
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.contact-form h3 {
  margin-top: 500px;
  padding-top: 50px;
  margin-bottom: 95px;
  color:#000000;
  font-size: 50px;
  text-align: center;

}
input, textarea {
  width: 963px;
  padding-top: 11px;
  padding-bottom: 10px;
  padding-left: 41px;
  font-size: 30px;
  border: 6px solid #515151;
  background-color: #26272D;
  color: #FFFFFF;
}
input{
  margin-bottom:29px;
  height: 57px;
}
textarea{
  margin-top: 11px;
  margin-bottom: 30px;
  position: relative;
  resize: none;
  height: 379px;
}
::placeholder {
  font-size: 30px;
  color: #FFFFFF;
  opacity: 0.5;
 }
.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}
.message-wrapper {
  border-bottom: 1px solid #26272D;
  padding-bottom: 105px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #26272D;
  box-shadow: 0 7px #515151;
}

.message:active{
  box-shadow: none;
  position: relative;
  top: 7px;
}
.message-wrapper a {
  color: #FFFFFF;
}
.clear {
clear: left;
}
@media (max-width:1000px) {
input, textarea{
  width: 50%;
  padding-bottom: 10px;
  
}
 .contact-form h3{
   width: 50%;
   margin: 0 auto;
   margin-bottom: 95px;
   
 }
}
 @media (max-width:670px) {
   input, textarea{
  width: 80%;
  padding-bottom: 10px;
   }
   
.contact-form h3{
   width: 100%;
   margin: 0 auto;
   margin-bottom: 95px;
}
 }
