@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: rgba(218, 214, 214, 1);
    font-family: 'Inria Sans', sans-serif;
    color: #ffffff;
    line-height: 20px;
    margin: 0;
}

.main {
    padding-top: 242px;
    padding-bottom: 242px;
}

.contents-title {
    margin-top: 60px;
    margin-bottom: 95px;
    color: #000000;
    font-size: 50px;
    text-align: center;
}
  
  .contents-images {
    float: left;
    width: 33.33%;
    padding: 5px;
    text-align: center;
    color: #000000; 
  }

  .contents>.contents-images>img{
    display:inline-block;
    vertical-align:middle;
    max-width:80%;
    max-height:80%;
   }
  
  /* Clearfix (clear floats) */
  .contents::after {
    content: "";
    clear: both;
    display: table;
  }

   /* .contents {
        flex-direction: column;
        text-align: center;
        font-family: "Inria Sans";
        margin: 0 auto;
        width: 100%;
        height: 100%;
    } */


.main.centered {
    background-image: url("image/bg-img.png");
    overflow: visible;
    height: auto;
    padding-top: 195px;
    padding-bottom: 195px;
    border-bottom: 4px solid #69b9ff;
    background-position: 0px 0px, 0px 0px, 50% 50%;
    background-size: auto, auto, auto;
    text-align: center;
}

.main-img {
    max-width: 20%;
    height: auto;
    margin-bottom: -50px;
    margin-top: -150px;
}

.main-heading {
    margin-bottom: 40px;
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.main-subheading {
    margin-bottom: 40px;
    color: #fff;
    font-size: 25px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 4px;
    text-transform: uppercase;
}

@media screen and (max-width: 991px) .hero-section.centered {
    padding-top: 144px;
    padding-bottom: 144px;
}

.main-img {
    width: 50%;
    padding: 15px;
}

.contact-form {
    flex-direction: column;
    text-align: center;
    font-family: "Inria Sans";
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.contact-form h3 {
    margin-top: 60px;
    margin-bottom: 95px;
    color: #000000;
    font-size: 50px;
    text-align: center;

}

input,
textarea {
    width: 963px;
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 41px;
    font-size: 30px;
    border: 6px solid #515151;
    background-color: #26272D;
    color: #FFFFFF;
}

input {
    margin-bottom: 29px;
    height: 57px;
}

textarea {
    margin-top: 11px;
    margin-bottom: 30px;
    position: relative;
    resize: none;
    height: 379px;
}

::placeholder {
    font-size: 30px;
    color: #FFFFFF;
    opacity: 0.5;
}

.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
}

.message-wrapper {
    border-bottom: 1px solid #26272D;
    padding-bottom: 105px;
    text-align: center;
}

.message {
    padding: 15px 40px;
    background-color: #26272D;
    box-shadow: 0 7px #515151;
}

.message:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}

.message-wrapper a {
    color: #FFFFFF;
}

.clear {
    clear: left;
}

@media (max-width:1000px) {

    input,
    textarea {
        width: 50%;
        padding-bottom: 10px;

    }

    .contact-form h3 {
        width: 50%;
        margin: 0 auto;
        margin-top: 95px;
        margin-bottom: 95px;

    }
}

@media (max-width:670px) {

    input,
    textarea {
        width: 70%;
        padding-bottom: 10px;
    }

    .contact-form h3 {
        width: 90%;
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 95px;
    }
}

.about {
    font-family: 'Playfair Display', serif;
    display: grid;
    background-color: #26272D;
    align-content: center;
    min-height: 100vh;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
}

.image {
    background: url("./image/image.png") center no-repeat;
    height: 80vh;
}

.content-about {
    background: #26272D;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content-about h2 {
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
    margin-top: 50px;
}

.content-about span {
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}

.content-about p {
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
}

.links {
    margin: 15px 0;
    padding: inherit;
}

.links li {
    border: 0.5px solid #777;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}

.links li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.links li:hover {
    border-color: #aed7ff;
}

.links li:hover a {
    color: #aed7ff;
}

.vertical-line {
    height: 30px;
    width: 0.5px;
    background: #777;
    margin: 0 auto;
}

.icons {
    display: flex;
    padding: 15px 0;
}

.icons li {
    display: block;
    padding: 5px;
    margin: 5px;
}

.icons li i {
    font-size: 26px;
    opacity: 0.8;
}

.icons li i:hover {
    color: #aed7ff;
}


@media screen and (max-width:1000px) {

    section {
        grid-template-columns: 1fr;
        width: 90%;
    }

    .image {
        height: 50vh;
    }

    .content-about h2 {
        font-size: 20px;
        margin-top: 50px;
    }

    .content-about span {
        margin: 20px 0;
    }

    .content-about p {
        font-size: 14px;
        width: 70%;
        padding-bottom: 25px;
    }

    .links li a {
        font-size: 14px;
    }

    .links {
        margin: 5px 0;
    }

    .links li {
        padding: 6px 10px;
    }

    .icons li i {
        font-size: 15px;
    }
}

@media screen and (max-width:780px) {
    section {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .image {
        height: 500px;
    }
}

.nav {
    height: 60px;
    width: 100%;
    background-color: #26272D;
    position: absolute;
    z-index: 1;
    opacity: 0.8;
}

.nav>.nav-header {
    display: inline;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 20px 40px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    display: inline;
    float: right;
    font-size: 18px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 20px 30px 20px 30px;
    text-decoration: none;
    color: #efefef;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width:670px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #333;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }

    .nav>.nav-links>a {
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}